nav.navbar.navbar-default.navbar-inverse
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href="#")
                div.navbar-brand-name
                    span(style="color:#ffffff") Unofficial Richmond Scheduler
        ul.nav.navbar-nav.navbar-right
            li
                a
                    button.btn.btn-default.glyphicon.glyphicon-list(type="button" data-toggle="offcanvas" data-target="#history") &nbsp;Schedule History
