doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description" content="Custom college schedule generator for University of Richmond students.")
		meta(name="og:title" content="University Schedule Generator")
		meta(name="og:description" content="Custom college schedule generator for University of Richmond students.")
		title #{title}
		link(rel="stylesheet" href="public/css/bootstrap.min.css")
		script(type="text/javascript" src="public/js/jquery.min.js")
		script(type="text/javascript" src="public/js/bootstrap.min.js")
		script(type="text/javascript" src="https://cdn.ravenjs.com/3.23.3/raven.min.js" crossorigin="anonymous")
		script.
			Raven.config('https://42d62526965b4efba858e166bc3fed8a@sentry.io/408633').install()
		block after_head
	body
		block nav
		block content
	block after_body
